*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgba(252, 229, 167, 0.849);
}
.lenta{
    width: 1400px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 520px;
    float: left;
    height: 70px
}
.logo{
    font-size: 35px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.logo a{
    color:rgb(255, 145, 1);
    font-family:Arial;
    text-decoration: none;
}
.logo1{
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-weight: bold;
    float: left;
    color: rgb(14, 13, 13);
    padding-top: 10px;
}
.reg {
    width: 300px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 150px;
    left: 600px;
    border-radius: 10px;
    padding: 25px;
}

.reg h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(255, 145, 1);
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.986);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.reg input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(255, 145, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    color:hsl(0, 0%, 99%);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.reg input:focus{
    outline: none;
}

::placeholder{
    color: hsla(0, 0%, 100%, 0.984);
}
.btn1{
    width: 240px;
    height: 40px;
    background: rgb(255, 145, 1);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: .4s ease;
}
.btn1:hover{
    background-color: white;
}
.btn1 a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
@media screen and (max-width: 700px){

    .logo1{
        position: absolute;
        left: 220px;
        z-index: 2;
        width: 100%;
    }
    .reg{
        position: absolute;
        left: 250px;
        z-index: 2;

    }
}