<html>

<head>
    <title>Contacts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/posts/style3.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <section id="home" class="header">
        <div class="container">
            <h1 class="logo"></h1>

            <nav>
                <ul>
                    <li><a href="index.html">Main Page</a></li>
                    <li><a href="index3.html">Home</a></li>
                    <li><a href="index4.html">About</a></li>
                    <li><a href="index2.html">Contact Us</a></li>
                </ul>
            </nav>
            <embed type="static/posts/png" src="static/posts/triptok.png">
        </div>
        <h1>Travel Across Kazakhstan</h1>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search City">
            <div class="input-group-append">
                <button type="submit" class="input-group-text btn">Search</button>
            </div>
        </div>
    </section>
    <hr>
    <section class="banner">
        <div class="banner-highlights">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <h2>Get 30% on top destination </h2>
                    <div class="col-md-8">
                        <input type="date" min="2021-12-07">
                        <input type="number" min="1">
                        <select>
         <option value="">--Choose a place--</option>
         <option value="charyn">Charyn Canyon</option>
         <option value="burabay">Burabay</option>
         <option value="kaindy">Kaindy Lake</option>
</select>
                        <button type="button" class="booking-btn">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="review" class="users-feedback">
        <h1>Users Review</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-review">
                        <p><i>The Kaindy lake is very beautiful. I think that this is attraction that you must visit if you are in Kazakhstan, because this lake is 100 years old and there is no like it nowhere near around.</i></p>
                        <h5>Pravel Sharma</h5>
                        <small>Kaindy Lake Tour</small>
                    </div>
                    <object data="static/posts/user1.jpg"></object>
                </div>
                <div class="col-md-4">
                    <div class=a ll>Burabay National Park Tour</small>
                    </div>
                    <object data="static/posts/user2.jpg"></object>
                </div>
                <div class="col-md-4">
                    <div class="user-review">
                        <p><i>Charyn Canyon is one of the most favorite one-day-trip for Almaty people. I have visited this place several times during my high school and university. This July 2016 I made a car trip around sand Charyn was in my list.</i></p>
                        <h5>Vidya Vox</h5>
                        <small>Charyn Canyon Tour</small>
                    </div>
                    <object data="static/posts/user3.jpg"></object>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="footer">
        <h2>Contacts</h2>
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Social Media</th>
                </tr>
            </thead>
        </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>+7789329398</td>
                        <td>triptok@info.kz</td>
                        <td>Youtube</td>
                    </tr>
                    <tr>
                        <td>+7734678778</td>
                        <td>info@travel.kz</td>
                        <td>Facebook</td>
                    </tr>
                    <tr>
                        <td>+77775010243</td>
                        <td>travel@mail.kz</td>
                        <td>Instagram</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <section id="prices" class="body1">
            <h2>Prices</h2>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Discount%</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>Charyn Canyon</td>
                            <td>$50</td>
                            <td>22nd October</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Kaindy Lake</td>
                            <td>$55</td>
                            <td>23rd October</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Burabay</td>
                            <td>$65</td>
                            <td>24th October</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Sherkala</td>
                            <td>$45</td>
                            <td>25th October</td>
                            <td>30%</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <div class="container2">
            <h2>Do you like our website?</h2>
            <div>
                <label>
                  <input type="radio" class="option-input radio" name="example" checked />
                  Yeap
                </label>
                <label>
                  <input type="radio" class="option-input radio" name="example" />
                  Nah
                </label>
            </div>
        </div>
        <div id="app">
            <div id="madeBy">
                <h3>Made By: {{username}}</h3>
            </div>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    username: 'Karim, Bauyrzhan, Sanzhar, Daulet'
                }
            })
        </script>
</body>

</html>