<html>

<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/posts/style3.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <section id="home" class="header">
        <div class="container">
            <h1 class="logo"></h1>

            <nav>
                <ul>
                    <li><a href="index.html">Main Page</a></li>
                    <li><a href="index3.html">Home</a></li>
                    <li><a href="index4.html">About</a></li>
                    <li><a href="index2.html">Contact Us</a></li>
                </ul>
            </nav>
            <embed type="static/posts/png" src="static/posts/triptok.png">
        </div>
        <h1>Travel Across Kazakhstan</h1>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search City">
            <div class="input-group-append">
                <button type="submit" class="input-group-text btn">Search</button>
            </div>
        </div>
    </section>
    <section id="destination" class="features">
        <h1>Featured Destionations</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="static/posts/Charyn.jpg">
                            <div class="price">
                                <p>50$</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-alt"></i>
                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Charyn Canyon</h4>
                            <p>Charyn Canyon is often compared to the Grand Canyon in the United States. Although it's much smaller, it's equally impressive. The canyon is located 200 kilometers (124 mi) away from the city of Almaty. The landscape of the
                                area is constantly changing.</p>
                            <span><i class="fa fa-map-marker"></i>Charyn Canyon</span>
                            <span><i class="fa fa-sun"></i>2 Days</span>
                            <span><i class="fa fa-moon"></i>1 Night</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="static/posts/borovoye6.jpg">
                            <div class="price">
                                <p>65$</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Burabay National Park</h4>
                            <p>There are at least 14 lakes, surrounded by mountains and evergreen forest. The best view to the lakes is open from the top of the Mount Bolektau, which is very easy to climb. In addition to trekking, climbing, swimming in lakes,
                                boating, and other outdoor activities</p>
                            <span><i class="fa fa-map-marker"></i>Burabay</span>
                            <span><i class="fa fa-sun"></i>2 Days</span>
                            <span><i class="fa fa-moon"></i>1 Night</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="static/posts/kaindy1.jpg">
                            <div class="price">
                                <p>55$</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-alt"></i>
                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Kaindy lake</h4>
                            <p>Incredibly picturesque lakes, such as Kaindy Lake, with its 'submerged forest', or the Kolsay Lakes, located among the mountains. Be sure to stop at Saty village in one of the guest houses to get the warm welcome from locals
                                and authentic experience.</p>
                            <span><i class="fa fa-map-marker"></i>Kaindy lake</span>
                            <span><i class="fa fa-sun"></i>2 Days</span>
                            <span><i class="fa fa-moon"></i>1 Night</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <section id="gallery" class="gallery">
        <h1>Travelling Gallery</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="gallery-box">

                        <img src="static/posts/charyn2.jpg">
                        <h4>Charyn Canyon</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">

                        <img src="static/posts/kaindy2.jpg">
                        <h4>Kaindy Lake</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">

                        <img src="static/posts/borovoye2.jpg">
                        <h4>Burabay</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">

                        <img src="static/posts/sherkala.jpg">
                        <h4>Sherkala</h4>
                    </div>
                </div>
            </div>
        </div>
        <h1>Choose your Destionation</h1>
        <label class="container1">Charyn Canyon
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
        <label class="container1">Burabay
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
        <label class="container1">Kaindy Lake
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
    </section>


</body>

</html>