<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link href="static/posts/style2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class = "lenta">
        <div class ="icon">
            <h2 class="logo"><a href="nurs.html">Nur-Sultan</a></h2>
        </div>
        <div class = "menu">
            <h2 class="logo1">Registration form</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="reg">
            <h2>Registration</h2>
            <input style="display: list-item" type="text" name="fullname" placeholder="Full_name">
            <input style="display: list-item" type="number" name="age" id="ag" min="3" max="100" placeholder="Age">
            <label style="display: list-item; color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Gender</label>
            <div style="display: flex">
            <label for="m"><p style="list-style: none; color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">M</p></label><input name = "gender" id ="m" type= "radio">
            <label for="f"><p style="list-style: none; color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">F</p></label><input name = "gender" id ="f" type= "radio">
            </div>
            <input style="display: list-item"type="email" name="email" placeholder="Email" >
            <input style="display: list-item"type="password" name="pass" placeholder="Password">
            <input style="display: list-item"type="password" name="confirm" placeholder="Confirm password">
            <button class="btn1"><a href ="nurs.html">Sign</a></button>
        </div>
          <div class="col">
          </div>
        </div>
      </div>
</body>
</html>